*{
    padding: 5px;
    margin: 0;
}
.messages{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    /* color: red; */
    font-size: 30px;
    font-weight: bold;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
}
.titlebox{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 20px;
}
.users{
    display: flex;
    justify-content: center;
    align-items: center;
}
    